.main-page-container {
    display: flex;
    justify-content: space-evenly;
}

.feed-container {
    width: 50vw;
    padding-top: 10px;
}

.scroll-up {
    color: #FE2C55;
    position: fixed;
    top: 92vh;
    transform: translateX(52vw);
}

.scroll-up:hover {
    color: rgba(224, 39, 75, 1);
}