nav {
    height: 60px;
    display: flex;
    align-items: center;
}

.logo-nav {
    display: flex;
    align-items: center;
}

.logo-nav > h1 {
    font-size: 28px;
    font-weight: 600;
}

.logo-img {
    height: 32px;
    width: 32px;
}