.upload-form-container {
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    min-height: calc(100vh - 82px);
}

.upload-form {
    background-color: white;
    padding: 24px 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.upload-form-heading h2 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
} 

.upload-form-heading h3 {
    font-size: 18px;
    font-weight: 300;
    color: #8A8B90;
    padding-bottom: 20px;
}

.form-body {
    display: flex;
}

.form-right-inputs {
    padding-left: 20px;
    margin-top: 10px;
}

.label-div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.label-div label {
    font-size: 16px;
}

.label-div p {
    color: #A3A4A8;
    font-size: 13px;
    font-weight: 300;
}

.caption-input-container {
    border: 1px #E3E3E4 solid;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.caption-input-container input {
    width: 40vw;
    padding: 10px;
    overflow: wrap;
}

.caption-input-container button {
    padding-right: 10px;

}

.view-container {
    margin-top: 10px;
}

.view-input-container {
    border: 1px solid #E3E3E4;
    border-radius: 2px;
    width: 290px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.view-dropdown {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    width: 310px;
    padding: 8px 0px;
    margin-top: 2px;
    border-radius: 2px;
    z-index: 1;
    position: fixed;
    background-color: white;
}

.view-dropdown p {
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 300;
}

.view-dropdown p:hover {
    background-color: #F8F8F8;
}

.form-action-buttons {
    margin-top: 40px;
}

.form-action-buttons button {
    width: 165px;
    height: 48px;
    text-align: center;
    margin-right: 20px;
}

.discard-post {
    border: 1px solid #E3E3E4;
    border-radius: 2px;
}

.discard-post:hover {
    background-color: #F8F8F8;
}

.submit-post {
    background-color: #FE2C55;
    color: white;
    border-radius: 2px;
}

.submit-post:disabled {
    background-color: #ebebeb;
}

.submit-post:disabled:hover {
    background-color: #ebebeb;
    cursor: not-allowed;
}

.submit-post:hover {
    background-color: rgba(224, 39, 75, 1);
}