.postview-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-postview {
    width: calc(100vw - 544px);
    display: flex;
    justify-content: center;
    background: rgb(31, 31, 31);
    background: radial-gradient(circle, rgb(19, 19, 19) 0%, rgb(9, 9, 9) 40%, rgb(35, 35, 35) 100%);
}

.left-postview video{
    width: fit-content;
    height: 100vh;
}

.exit-postview {
    position: fixed;
    top: 0;
    left: 10px;
    background-color: white;
    z-index: 10;
    border-radius: 50%;
    background-color: rgba(84, 84, 84, 0.5);
    padding: 15px;
    color: white;
}

.right-postview {
    width: 544px;
}